{{- /* FAQ Schema for Google Rich Results */ -}}
{{- /* Add FAQ schema if the page has FAQ front matter */ -}}

{{- if .Params.faq -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{- range $index, $item := .Params.faq -}}
    {{- if $index -}},{{- end -}}
    {
      "@type": "Question",
      "name": "{{ $item.question }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ $item.answer | plainify }}"
      }
    }
    {{- end -}}
  ]
}
</script>
{{- end -}}
